<a href="https://colab.research.google.com/github/nuageklow/wwc_onelinecoding/blob/main/colab_notebooks/WWCode_Beginner_python_one_liner_session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to *‚ú® Less is more: How to code python in one line ‚ú®* !
**Session 1: Beginner level**

Hosted by Women Who Code Python Track

**Using Google Colab**

To execute code throughout this Google Colab notebook, please click File -> Save a copy in drive

#### Zen of Python

A Pythoneer named **Tim Peters** once wrote 19 principles stating how one can write beautiful and clean code with Python. Came to be known as the **Zen of Python**. The guidelines motivate programmers to write simple, readable, and clean code.

Being a developer, writing code and making it run is not the only job to do. Python is known for its readability and simplicity. Writing clean and readable code is an art which is appreciated by other programmers and let them understand every bit.

In [ ]:
import this

### Timeit ‚è±

In [ ]:
# "timeit" module provides a simple way to measure execution time of small bits of Python code. 
# Multiline code example to populate a 2-D array (99x99) with '0's'.

import timeit # import timeit library
s="""\
n,m=99,99
arr=[]
for i in range(n):
  arr1=[]
  for i in range(m):
    arr1.append(0)
  arr.append(arr1) """
timeit.timeit(s) #using timeit function

In [ ]:
# One-line code exampleof the above problem
s= """\
n,m=99,99
arr=[[0 for i in range(m)] for j in range(n)]"""
timeit.timeit(s)

### üëâüèº Swapping two numbers

Multiline code

In [ ]:
# swap values of a and b
a=4
b=5

c=a
a=b
b=c
print('a',a ,'b',b)

One-liner code ‚ú®

In [ ]:
a=4
b=5
a,b=b,a # in one line

print('a',a ,'b',b)

###üëâüèº Multiple variable assignment

Multi-line code

In [ ]:
# assign a,b,c with values 4,4.5,'hello'
a=4
b=4.5
c="hello"
print(a,b,c)

One-line code ‚ú®

In [ ]:
a,b,c=4,4.5,"hello" # in one line
print(a,b,c)

In [ ]:
#practice
#Assign v1 and v2 as 'hello' & 'world'
#swap the values of the viables

# üíÅüèª‚Äç‚ôÄÔ∏è Recall Slicing!!

x[start:stop:step]

The resulting subsequence starts at index start (included) and ends at index stop (excluded). You can include an optional third step argument that determines which elements are carved out, so you could choose to include just every step-th element. For example, the slicing operation x[1:4:1] used on variable x = 'hello world' results in the string 'ell'. Slicing operation x[1:4:2] on the same variable results in string 'el' because only every other element is taken into the resulting slice. 

Always remember that strings and lists in Python starts from index 0.

If you don‚Äôt include the step argument, Python assumes the default step size of one. For example, the slice call x[1:4] would result in the string 'ell'. If you don‚Äôt include the beginning or ending arguments, Python assumes you want to start at the start, or end at the end.

For example, the slice call x[:4] would result in the string 'hell', and the slice call x[4:] would result in the string 'o world'.

In [ ]:
s = 'Eat more fruits!'
print(s[:5])

In [ ]:
print(s[3:0])

In [ ]:

print(s[4:8:2])

In [ ]:
print(s[::-1])

In [ ]:
print(s[6:1:-1])

###üëâüèº Palindrome check

Multi-line code

In [ ]:
#check whther a string is a palindrome or not
def isPalindrome(str):
 
    # Run loop from 0 to len/2
    for i in range(0, int(len(str)/2)):
        if str[i] != str[len(str)-i-1]:
            return False
    return True
 
text = "level"
ans = isPalindrome(text)
 
if (ans):
    print("True")
else:
    print("False")

One-liner code ‚ú®

In [ ]:
#practice 
#check palindrome in using one line code

###üëâüèº If-Else in one line

Multi-line code

In [ ]:
#Assign myval to 24 if '5<2' otherwise assign it 40
if 5<2:
  myval =24
else:
  myval=40
print(myval)

One-line code ‚ú®

In [ ]:
myval = 24 if 5<2 else 40
print(myval)

In [ ]:
#practice
#print pass on marks greater than 30 or else print fail

###üëâüèº Printing the same element many times using

Multi-line code

In [ ]:
#print 'x' five times
test='x'+'x'+'x'+'x'+'x'
print(test)

One-line code ‚ú®

In [ ]:
print('x'*5)

In [ ]:
#practice
#print '@' 200 times

###üëâüèº To check the existence of a number in a list

Multi-line code

In [ ]:
#check if 'num' is present in the list
num=5
ar=[1,2,3,4,5]
for i in range(len(ar)):
  if num==ar[i]:
    print("present")

One-line code ‚ú®

In [ ]:
num = 5
if num in [1,2,3,4,5]:
  print('present')

In [ ]:
#practice
#check if 'your favorite ice-cream flavour' is present in the list of available ice-cream flavours

# Lets Practice One-liners with some examples !! üë©üèª‚Äçüíªüë©üèª‚Äçüíª

##Example 1Ô∏è‚É£

Say you work in the human resources department of a large company and need to find all staff members who earn at least $100,000 per year. Your desired output is a list of tuples, each consisting of two values: the employee name and the employee‚Äôs yearly salary. Here‚Äôs the code you develop:

In [ ]:
employees = {'Alice' : 100000,
                          'Bob' : 99817,
                          'Carol' : 122908,
                          'Frank' : 88123,
                          'Eve' : 93121}
top_earners = []
for key, val in employees.items():
  if val >= 100000:
    top_earners.append((key,val))
print(top_earners)
# [('Alice', 100000), ('Carol', 122908)]

And heres how the above result can be achieved in a single line. ‚ú®

In [ ]:
## Data
employees = {'Alice' : 100000,
             'Bob' : 99817,
             'Carol' : 122908,
             'Frank' : 88123,
             'Eve' : 93121}
## One-Liner
top_earners = [(k, v) for k, v in employees.items() if v >= 100000]
## Result
print(top_earners)

##Example 2Ô∏è‚É£

Imagine you work at a small internet startup that keeps track of its users‚Äô web browsers (Google Chrome, Firefox, Safari). You store the data in a database. To analyze the data, you load the gathered browser data into a large list of strings, but because of a bug in your tracking algorithm, every second string is corrupted and needs to be replaced by the correct string.

So to reproduce the original data,  you want to duplicate every other string in the list: the list ['Firefox', 'corrupted', 'Chrome', 'corrupted'] becomes ['Firefox', 'Firefox', 'Chrome', 'Chrome'].

In [ ]:
## Data
visitors = ['Firefox', 'corrupted', 'Chrome', 'corrupted',
            'Safari', 'corrupted', 'Safari', 'corrupted',
            'Chrome', 'corrupted', 'Firefox', 'corrupted']
## One-Liner